---
services:

  # Indexer Manager
  prowlarr:
    extends:
      file: common.yaml
      service: servarrs_common
    image: lscr.io/linuxserver/prowlarr:latest
    container_name: prowlarr
    volumes:
      - /srv/servarrs/prowlarr:/config
    ports:
      - 9696:9696
    networks: 
      - proxy
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:9696"]
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.prowlarr.entrypoints=websecure"
      - "traefik.http.routers.prowlarr.rule=Host(`prowlarr.burgoyne.casa`)"
      - "traefik.http.routers.prowlarr.tls=true"
      - "traefik.http.routers.prowlarr.tls.certresolver=letsencrypt"
    restart: unless-stopped

  # Movie Collection Manager
  radarr:
    extends:
      file: common.yaml
      service: servarrs_common
    image: lscr.io/linuxserver/radarr:latest
    container_name: radarr
    volumes:
      - /srv/servarrs/radarr:/config
      - /mnt/h/data/media/movies:/movies #optional
      - /mnt/h/data/torrents:/downloads #optional
    ports:
      - 7878:7878
    networks: 
      - proxy
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:7878"]
    depends_on:
      prowlarr:
        condition: service_healthy
        restart: true
    labels:
      - "traefik.http.routers.radarr.entrypoints=websecure"
      - "traefik.http.routers.radarr.rule=Host(`radarr.burgoyne.casa`)"
      - "traefik.http.routers.radarr.tls=true"
      - "traefik.http.routers.radarr.tls.certresolver=letsencrypt"
    restart: unless-stopped

  # TV Show Manager
  sonarr:
    extends:
      file: common.yaml
      service: servarrs_common
    image: lscr.io/linuxserver/sonarr:latest
    container_name: sonarr
    volumes:
      - /srv/servarrs/sonarr:/config
      - /mnt/h/data/media/tv:/tv #optional
      - /mnt/h/data/torrents:/downloads #optional
    ports:
      - 8989:8989
    networks: 
      - proxy
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8989"]
    depends_on:
      prowlarr:
        condition: service_healthy
        restart: true
    labels:
      - "traefik.http.routers.sonarr.entrypoints=websecure"
      - "traefik.http.routers.sonarr.rule=Host(`sonarr.burgoyne.casa`)"
      - "traefik.http.routers.sonarr.tls=true"
      - "traefik.http.routers.sonarr.tls.certresolver=letsencrypt"
    restart: unless-stopped


  bazarr:
    extends:
      file: common.yaml
      service: servarrs_common
    image: lscr.io/linuxserver/bazarr:latest
    container_name: bazarr
    volumes:
      - /srv/servarrs/bazarr:/config
      - /mnt/h/data/media/movies:/movies #optional
      - /mnt/h/data/media/tv:/tv #optional
    ports:
      - 6767:6767
    labels:
      - "traefik.http.routers.bazarr.entrypoints=websecure"
      - "traefik.http.routers.bazarr.rule=Host(`bazarr.burgoyne.casa`)"
      - "traefik.http.routers.bazarr.tls=true"
      - "traefik.http.routers.bazarr.tls.certresolver=letsencrypt"
    restart: unless-stopped
    networks:
      - proxy

  # Music Collection Manager
  lidarr:
    extends:
      file: common.yaml
      service: servarrs_common
    image: ghcr.io/hotio/lidarr:pr-plugins
    container_name: lidarr
    volumes:
      - /srv/servarrs/lidarr:/config
      - /mnt/h/data/media/music:/music #optional
      - /mnt/h/data/torrents:/downloads #optional
      - /mnt/h/data/soulseek:/soulseek/downloads
    ports:
      - 8686:8686
    networks: 
      - proxy
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8686"]
    depends_on:
      prowlarr:
        condition: service_healthy
        restart: true
    labels:
      - "traefik.http.routers.lidarr.entrypoints=websecure"
      - "traefik.http.routers.lidarr.rule=Host(`lidarr.burgoyne.casa`)"
      - "traefik.http.routers.lidarr.tls=true"
      - "traefik.http.routers.lidarr.tls.certresolver=letsencrypt"
    restart: unless-stopped
  profilarr:
    extends:
      file: common.yaml
      service: servarrs_common
    image: santiagosayshey/profilarr:latest
    container_name: profilarr
    volumes:
      - /srv/servarrs/profilarr:/config # Replace with your actual path
    ports:
      - 6868:6868
    networks: 
      - proxy
    healthcheck:
      test: ["CMD-SHELL", "python", "-c", "import", "urllib.request;", "print(urllib.request.urlopen('http://localhost:6868').read().decode())"]
    environment:
      - PUID=1000 # Set to your user ID
      - PGID=1000 # Set to your group ID
      - TZ=America/Denver 
    restart: unless-stopped
    labels:
      - "traefik.http.routers.profilarr.entrypoints=websecure"
      - "traefik.http.routers.profilarr.rule=Host(`profilarr.burgoyne.casa`)"
      - "traefik.http.routers.profilarr.tls=true"
      - "traefik.http.routers.profilarr.tls.certresolver=letsencrypt"

  # Book Collection Manager
  # readarr:
  #   extends:
  #     file: common.yaml
  #     service: servarrs_common
  #   image: ghcr.io/hotio/readarr:latest
  #   container_name: readarr
  #   volumes:
  #     - /srv/servarrs/readarr:/config
  #     - /mnt/h/data/media/books:/books #optional
  #     - /mnt/h/data/torrents/books:/downloads #optional
  #   ports:
  #     - 8787:8787
  #   healthcheck:
  #     test: ["CMD", "curl", "-f", "http://localhost:8787"]
  #   depends_on:
  #     prowlarr:
  #       condition: service_healthy
  #       restart: true
  #   labels:
  #     - "traefik.http.routers.readarr.entrypoints=websecure"
  #     - "traefik.http.routers.readarr.rule=Host(`readarr.burgoyne.casa`)"
  #     - "traefik.http.routers.readarr.tls=true"
  #     - "traefik.http.routers.readarr.tls.certresolver=letsencrypt"
  #   restart: unless-stopped

  # Media Request Manager
  overseerr:
    extends:
      file: common.yaml
      service: servarrs_common
    image: lscr.io/linuxserver/overseerr:latest
    container_name: overseerr
    volumes:
      - overseerr-data:/config
    ports:
      - 5055:5055
    networks: 
      - proxy
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:5055"]
    depends_on:
      prowlarr:
        condition: service_healthy
        restart: true
    restart: unless-stopped
    labels:
      - "traefik.http.routers.overseerr.rule=Host(`overseerr.burgoyne.casa`) || Host(`request.burgoyne.casa`)"
      - "traefik.http.routers.overseerr.entrypoints=websecure"
      - "traefik.http.services.overseerr.loadbalancer.server.port=5055"
      - "traefik.http.routers.overseerr.service=overseerr"
      - "traefik.http.routers.overseerr.tls.certresolver=letsencrypt"

  # Soulseek Client Service
  slskd:
    extends:
      file: common.yaml
      service: servarrs_common
    image: slskd/slskd:latest
    container_name: slskd
    restart: unless-stopped
    ports:
      - "39300:50300/tcp" # Default Soulseek port
      - "39300:50300/udp"
      - "5030:5030/tcp" # http port
      - "5131:5131/tcp" # http port
    networks: 
      - proxy
    healthcheck:
      test: ["NONE"]
    volumes:
      - /srv/servarrs/slskd:/app # Mount local config directory
      - /mnt/h/data/soulseek:/downloads # Mount downloads directory
      - /mnt/h/data/media:/media # Mount Media directory
    labels:
      - "traefik.http.routers.slskd.entrypoints=websecure"
      - "traefik.http.routers.slskd.rule=Host(`slskd.burgoyne.casa`)"
      - "traefik.http.routers.slskd.tls=true"
      - "traefik.http.routers.slskd.tls.certresolver=letsencrypt"
    user: 1000:1000

  # Archive Extractor Service
  unpackerr:
    image: golift/unpackerr
    container_name: unpackerr
    volumes:
      - /srv/servarrs/unpackerr:/config/
      - /mnt/h/data/torrents/:/downloads
    restart: unless-stopped
    user: 1000:1000
    environment:
      - TZ=America/Denver

  # Tautulli - Plex Monitoring Service
  tautulli:
    extends:
      file: common.yaml
      service: servarrs_common
    image: lscr.io/linuxserver/tautulli:latest
    container_name: tautulli
    volumes:
      - /srv/servarrs/tautulli:/config
    ports:
      - 8181:8181
    networks: 
      - proxy
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8181"]
    labels:
      - "traefik.http.routers.tautulli.rule=Host(`tautulli.burgoyne.casa`)"
      - "traefik.http.routers.tautulli.entrypoints=websecure"
      - "traefik.http.services.tautulli.loadbalancer.server.port=8181"
      - "traefik.http.routers.tautulli.service=tautulli"
      - "traefik.http.routers.tautulli.tls.certresolver=letsencrypt"
    restart: unless-stopped

  # Notification Service
  ntfy:
    extends:
      file: common.yaml
      service: servarrs_common
    image: binwiederhier/ntfy
    container_name: ntfy
    command:
      - serve
    user: 1000:1000 # optional: replace with your own user/group or uid/gid
    volumes:
      - /var/cache/ntfy:/var/cache/ntfy
      - /etc/ntfy:/etc/ntfy
    ports:
      - 8282:80
    healthcheck: # optional: remember to adapt the host:port to your environment
        test: ["CMD-SHELL", "wget -q --tries=1 http://localhost:80/v1/health -O - | grep -Eo '\"healthy\"\\s*:\\s*true' || exit 1"]
        interval: 60s
        timeout: 10s
        retries: 3
        start_period: 40s
    restart: unless-stopped
    init: true # needed, if healthcheck is used. Prevents zombie processes

volumes:
  overseerr-data:
    external: true
networks:
  default:
    name: servarrs
    external: false
  proxy:
    external: true